body {
    margin: 0;
    background-color: #F5F5F5;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59E489;
    padding: 0 10px;
    margin-bottom: 200px;
}

.navbar-logo {
    width: 90px;
}

.navbar-login, .navbar-register, .navbar-logout {
    padding: 5px 12px;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.navbar-login {
    background-color: #F5F5F5;
    color: #0A0A0A;
    border: 2px solid #F5F5F5;
}

.navbar-register {
    background-color: #737373;
    color: #F5F5F5;
    border: 2px solid #737373;
}

.navbar-logout {
    background-color: #59E489;
    color: #F5F5F5;
    border: 2px solid #F5F5F5;
}

.navbar-login:hover {
    border: 2px solid #0A0A0A;
}

.navbar-register:hover {
    border: 2px solid #0A0A0A;
}

.navbar-logout:hover {
    background-color: #F5F5F5;
    color: #59E489;
}

.auth-header {
    color: #0A0A0A;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 720px;
    background-color: #D9D9D9;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 200px;
    border-radius: 4px;
}

.auth-field {
    display: flex;
    flex-direction: column;
    height: 55px;
}

.auth-label {
    color: #0A0A0A;
}

.auth-input {
    height: 1.4rem;
    color: #737373;
    background-color: #F5F5F5;
    border: 0;
    border-radius: 4px;
    
}

.auth-submit {
    align-self: flex-end;
    text-align: center;   
    background-color: #59E489;
    color: #0A0A0A;
    padding: 8px 16px;
    border: 2px solid #59E489;
    margin-top: 1.4em;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.auth-submit:hover {
    border: 2px solid #0A0A0A;
}

.user-data {
    width: 80%;
    background-color: #D9D9D9;
    padding: 1em;
    margin: 0 auto;
    border-radius: 4px;
}
.user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-image {
    width: 180px;
}

.transfer-button {
    background-color: #F5F5F5;
    color: #0A0A0A;
    padding: 8px 16px;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.transfer-button:hover {
    border: 2px solid #0A0A0A;
}

.transfer-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 680px;
    background-color: #59E489;
    padding: 1em;
    margin: 0 auto;
    border-radius: 4px;
}

.transfer-field {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.transfer-label {
    color: #0A0A0A;
    font-weight: bolder;
}

.transfer-input {
    height: 1.8rem;
    background-color: #F5F5F5;
    color: #737373;
    border: 0;
    border-radius: 4px;
    font-size: larger;
}

.transfer-submit {
    align-self: flex-end;
    text-align: center;
    background-color: #F5F5F5;
    color: #0A0A0A;
    padding: 8px 16px;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.transfer-submit:hover {
    border: 2px solid #0A0A0A;
}

.not-found {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    background-color: #59E489;
    color: #F5F5F5;
}

.footer-slash {
    color: #737373;
}

@media (max-width: 720px) {
    .auth-form {
        width: 85%;
    }

    .user-data {
        width: 85%
    }

    .transfer-form {
        width: 85%;
    }

    .user-image {
        width: 120px;
    }
}
@media (max-width: 360px) {
    .auth-form {
        width: 90%;
    }

    .user-data {
        width: 90%;
    }

    .transfer-field {
        width: 90%;
    }

    .user-image {
        width: 80px;
    }
}